.banner-section {
    background-image: url('/banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.custom-slider{
    overflow: unset;
}