@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(358deg,
      #bdf4e0 23.27%,
      rgba(220, 242, 234, 0) 79.38%);
}

.custom-shape-divider-top-1703852338 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1703852338 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1703852338 .shape-fill {
  fill: #b42222;
}

/* For screen size 1980 and above */
.myContainer {
  padding-left: 25rem;
  padding-right: 25rem;
}

.join-item {
  font-size: 0.75rem;
  font-family: Lato, sans-serif;
  font-weight: 600;
}

.small_semibold {
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.large_bold {
  font-family: Lato;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}
.extra_large_bold {
  font-family: Lato;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

.semi_lerge_bold {
  font-family: Lato;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.base_bold {
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.base_normal{
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;

}

/* For screen size 1500 to 1979 */
@media screen and (max-width: 1979px) and (min-width: 1500px) {
  .myContainer {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}

/* For screen size 1280 to 1499 */
@media screen and (max-width: 1499px) and (min-width: 1280px) {
  .myContainer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}